h1{
  font-size: 35px;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background: #e7dfd5;
}

.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  margin: 1rem auto 0rem auto;
  padding: 2rem 2rem;
  padding-bottom: 2rem;
  max-width: 1000px;
}

#main{
  align-items: center;
}

#rules li{
  margin-top: 10px;
}

#submit{
  opacity: 0;
  padding: 10px 20px;
}

#returnMessage {
  font-size: .8rem;
  margin-top: 10px;
}

input:focus{
  background-color: #F7EAFF;
}

input, button {
  margin-top: 10px;
  font-family: inherit;
  font-size: inherit;
}

button {
  font-weight: 600;
}

#results{
  margin: 2rem;
  margin-top: 2.5rem;
}

#results ul, #chosenWords ul {
  list-style: none;
  /* align-items: center; */
}

#chosenWords{
  margin-top: 1.2rem;
}

#chosenWordsGrid{
  align-items: flex-start;
}

#chosenWordsGrid li{
  position: relative;
  text-align: center;
  border-width: 2px;
  border: solid;
  border-color: #333;
  border-radius: 0.3rem;
  color: #eee;
  background-color: #8489ac;
  height: 100%;
  display: inline-block;
  padding: 5px 10px;
  margin: 8px;
}

#chosenWordsGrid li p{
  margin: 0;
}

.cancelWord{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  position: absolute;
  right: -10px;
  border-radius: 12px;
  border-color: #204051;
  z-index: 2;
  top: -10px;
  height: 24px;
  width: 24px;
  color: #fff;
  background-color: #c70039;
}

.cancelWord:hover{
  background-color: #ee8572
}

a{
  text-decoration: inherit;
  color: inherit;
}

.grid .domain {
  color: #000;
  border-radius: .5rem;
  border-width: 10px;
  border: solid;
  border-color: #000;
  text-align: center;
  margin: 0;
  height: 100%;
}

.grid .domain:hover{
  opacity: .5;
}

.name{
  display: block;
  word-wrap: break-word;
  padding: 2rem;
}

.price{
  padding-bottom: 1rem;
}

#loader {
  margin-top: 20px;
  border: 7px solid #e7dfd5; /* Light grey */
  border-top: 7px solid #F7EAFF; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#footer{
  position: fixed;
  justify-content: center;
  bottom: 10px;
  font-size: 14px;
}
